@model MvcApplication1.Models.ProfileModel
@{
    ViewBag.Title = "Add Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Profile</h2>


@using (Html.BeginForm("AddProfile", "Home"))
{
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>user profile form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName)
                @Html.ValidationMessageFor(m => m.FirstName)
            </li>
            <li>
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName)
                @Html.ValidationMessageFor(m => m.LastName)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Phone)
                @Html.TextBoxFor(m => m.Phone)
                @Html.ValidationMessageFor(m => m.Phone)
            </li>
        </ol>
        <input type="submit" value="Create" />
    </fieldset>
}